<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ControlProx.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SerialPortTerminal.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="ControlProx.Properties.Settings.BaseConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Data\Base.mdf;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <ControlProx.Properties.Settings>
            <setting name="PortName" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="DataBits" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="Parity" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="StopBits" serializeAs="String">
                <value>One</value>
            </setting>
            <setting name="Timeout" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="BaudRate" serializeAs="String">
                <value>38400</value>
            </setting>
            <setting name="ModoDummy" serializeAs="String">
                <value>False</value>
            </setting>
        </ControlProx.Properties.Settings>
    </userSettings>
</configuration>